[user]
    name = Benedict Dudel
    email = dudel.benedict@gmail.com

[core]
    editor = nvim
    # Commands such as commit and tag that lets you edit messages by launching this editor
    # Source: https://git-scm.com/docs/git-config#git-config-coreeditor

    whitespace = trailing-space
    # A comma separated list of common whitespace problesm to notice by git diff
    # Source: https://git-scm.com/docs/git-config#git-config-corewhitespace

    excludesfile = ~/.gitignore
    # Path of a file to use as a global .gitignore instead of $XDG_CONFIG_HOME/git/ignore
    # Source: https://git-scm.com/docs/git-config#git-config-coreexcludesFile
    # See: https://raw.githubusercontent.com/benedictdudel/dotfiles/master/git/.gitignore

[merge]
    ff = only
    # Do not create an extra merge comit, instead only allow fast-forward merges.
    # Note: this global option applies to all merges, including thise dont during a git pull.
    # Source: https://git-scm.com/docs/git-config#git-config-mergeff

    conflictstyle = diff3
    # By default diff is two sets of final changes. This introduces the original text before each side's changes.
    # Source: https://git-scm.com/docs/git-config#git-config-mergeconflictStyle

[commit]
    # gpgSign = true
    # "other people can trust that the changes you've made really were made by you"
    # Tutorial: https://help.github.com/articles/about-gpg/
    # Source: https://git-scm.com/docs/git-config#git-config-commitgpgSign

    template = ~/.gitmessage
    # Path of a file to use as a template for new commit messages
    # Source: https://git-scm.com/docs/git-config#git-config-committemplate
    # See: https://raw.githubusercontent.com/benedictdudel/dotfiles/master/git/.gitmessage

[push]
    default = current
    # Push the current branch to update a branch with the same name on the receiving end
    # Source: https://git-scm.com/docs/git-config#git-config-pushdefault

[status]
    showUntrackedFiles = all
    # Show all newly-added files instead of just the newly-added directory
    # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles

[transfer]
    fsckobjects = true
    # To combat repository corruption!
    # Note: this global option applies during receive and transmit
    # https://git-scm.com/docs/git-config#git-config-transferfsckObjects
    # via https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0

[diff]
    tool = vimdiff
    # Controls which diff tool is used by git-difftool
    # Source: https://git-scm.com/docs/git-config#git-config-difftool

[alias]
    c = commit --verbose
    # Show diff of files which are gonna be commited in the commit message
    # Source: https://git-scm.com/docs/git-commit#git-commit---verbose

    l = log --oneline
    # Show only hash and commit title in git log
    # Source: https://git-scm.com/docs/git-log#git-log---oneline

    ls = ls-files
    # Show information about files in the index and the working tree
    # Source: https://git-scm.com/docs/git-ls-files

    s = status --short
    # Show a less verbose git status output
    # Source: https://git-scm.com/docs/git-status#git-status---short
