init-author-name = Benedict Dudel
# The value npm init should use by default for the package author's name
# Source: https://docs.npmjs.com/misc/config#init-author-name

init-author-email = dudel.benedict@gmail.com
# The value npm init should use by default for the package author's email
# Source: https://docs.npmjs.com/misc/config#init-author-email

init-author-url = https://github.com/benedictdudel
# The value npm init should use by default for the package author's homepage
# Source: https://docs.npmjs.com/misc/config#init-author-url

init-license = MIT
# The value npm init should use by default for the package license
# Source: https://docs.npmjs.com/misc/config#init-license

init-version = 0.0.1
# The value that npm init should use by default for the package version number
# Source: https://docs.npmjs.com/misc/config#init-version

prefix = ${HOME}/.node-modules
# The location to install global items
# Source: https://docs.npmjs.com/misc/config#global

save = true
# Save installed packages to a package.json file as dependencies
# Source: https://docs.npmjs.com/misc/config#save

save-dev = true
# Save installed packages to a package.json file as devDependencies
# Source: https://docs.npmjs.com/misc/config#save-dev

save-optional = true
# Save installed packages to a package.json file as optionalDependencies
# Source: https://docs.npmjs.com/misc/config#save-dev
